/* Declaraciones CSS para el estilo de los contenedores
en la página ocio dónde se van a incluir los juegos */

/* ESTILO BOTONES JUEGOS */
div.botones {
    display: flex;
    justify-content:center;
    
}
div.botones > button {
    margin-right: 5pt;
    margin-bottom: 20pt;
}

div.botones > button > a {
    text-decoration: none;
    color: inherit;
}

/* Estilo elemento iframe del juego Solitario y su contenedor  */

div.juego {
    display: flex;
    justify-content: center;
}

div.juego > iframe {
    width: 80%;
    min-height: 650px;
    min-width:600px;
}